<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ladoo.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/inventoheader"
        android:label="Invento2k16"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashBoardActivity"
            android:label="Invento 2k16"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EventsTabbedActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegisterItemsSelected"
            android:label="Register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EventDetails"
            android:label="Events"
            android:theme="@style/NoActionBar" />
        />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="Share"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider737301359703701"
            android:exported="true" />

        <activity
            android:name=".Facebook"
            android:label="Share"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GalleyActivity"
            android:label="ImageGallery"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AboutInvento"
            android:label="Invento 2k16"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Sponsors"
            android:label="Sponsors"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Schedule"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TermsAndConditions"
            android:label="Terms and Conditions"
            android:theme="@style/AppTheme" />
        <activity android:name=".AboutUS"
            android:label="About Developers"
            android:theme="@style/AppTheme" >

        </activity>
    </application>

</manifest>
